@charset "UTF-8";
/*TELA GRANDE*/
@media screen and (min-width: 800px) {
    span#burguer {
        display: none;

    }
    menu {
        display: block;
        padding: 2px;
        text-align: center;
    }
    menu a {
        display: inline-block;
    }
    main {
        width: 800px;
    }
    .img-pers {
        position: relative;
        border: 0px solid black;
        width: 320px;
        height: 485px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 10px;
        box-shadow: 5px 5px 8px rgba(12, 4, 4, 0.849);
    }
    .img-caidos {
        position: relative;
        border: 0px solid black;
        width: 320px;
        height: 485px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-bottom: 20px;
        box-shadow: 5px 5px 8px rgba(12, 4, 4, 0.849);
    }
}