@charset "UTF-8";
/*MOBILE FIRST(TELA PEQUENA)*/
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

:root {
    --font-texto: Arial, Helvetica, sans-serif;
    --font-titulos: "Pirata One", system-ui;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(180, 176, 176);
}

header {
    background-color: rgb(61, 58, 58);
    padding: 10px;
}

header > h1 {
    color: white;
    font-family: var(--font-titulos);
    font-size: 2.8em;
    font-weight: bold;
    text-align: center;
}

span#burguer {
    background-color: rgb(48, 48, 48);
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
}
 
span#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

menu {
    display: none;
    background-color: rgb(82, 77, 77);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.699);
}

menu a {
    display: block;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-size: bold;
    text-decoration: none;
}

menu a:hover {
    color: rgb(163, 155, 155);
    text-decoration: dashed;

}
.conteiner {
    width: 90vw;
    margin: auto;
    margin-top: 1rem;
    border-radius: 20px 20px 20px 20px;
}

.conteiner p {
    font-family: var(--font-texto);
    text-align: justify;
    font-size: 1em;
    line-height: 1.7em;
    padding: 7px 17px;
}

.conteiner h2 {
    color:  rgb(99, 88, 88);
    text-align: center;
    font-family: var(--font-titulos);
    font-size: 2.5em;
    font-weight: lighter;
    padding: 1rem;
}

div.descricao > p {/*descrição dos personagens*/
    line-height: 7px;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.personagens {
    background-color: #ffffff;
    box-shadow: 1px 1px 6px rgb(29, 28, 28);
    margin-bottom: 3rem;
}
.img-personagem {
    border: 0px solid black;
    width: 80%;
    height: 68vh;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    box-shadow: 5px 5px 8px rgba(12, 4, 4, 0.849);
}
img {
    width: 98%;
    height: 65vh;
    margin-top: .5rem;
    margin-bottom: .4rem;
}
.link-externo {
    padding-bottom: 10px;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
}

.link-externo::after {
    content: '\00A0\1F517';
}

.link-externo:hover {
    color: rgb(122, 109, 109);
}

.strong > a {
    font-weight: bold;
    font-size: 1em;
}

footer {
    background-color:rgb(122, 109, 109);
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

a {/*links gerais*/ 
    text-decoration: none;
}

footer  a {
    text-decoration: none;
}
summary {
    list-style: none;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width:501px) and (max-width: 768px){
    span#burguer {
        display: none;

    }
    menu {
        display: block;
        padding: 2px;
        text-align: center;
    }
    menu a {
        display: inline-block;
    }
    .conteiner {
        width: 70vw;
        margin: auto;
        margin-top: 2rem;
    }
    .img-personagem {
        width: 50vw;
    }
}
@media screen and (min-width:769px) and (max-width: 980px){
    span#burguer {
        display: none;

    }
    menu {
        display: block;
        padding: 2px;
        text-align: center;
    }
    menu a {
        display: inline-block;
    }
    .conteiner {
        width: 60vw;
        margin: auto;
        margin-top: 2rem;
    }
    .img-personagem {
        width: 40vw;
    }
}
@media screen and (min-width:981px) {
    span#burguer {
        display: none;

    }
    menu {
        display: block;
        padding: 2px;
        text-align: center;
    }
    menu a {
        display: inline-block;
    }
    .conteiner {
        width: 60vw;
        margin: auto;
        margin-top: 2rem;
    }
    .img-personagem {
        width: 30vw;
    }
}
